<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.box1{
	width: 30%;
	margin-left: 2%
}
</style>

<h1>Task Creator Page</h1>
<p>Find me in app/views/task/new.html.erb</p>

<div class="box1">
	<form >
	  <div class="form-group">
	    <label for="exampleInputEmail1">Task</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Task">
	  </div>
	  <form >
	  <div class="form-group">
	    <label for="exampleInputEmail1">Due Date</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Due Date">
	  </div>
	  <div class="form-group">
	    <label for="exampleSelect1">Priority</label>
	    <select class="form-control" id="exampleSelect1">
	      <option>1</option>
	      <option>2</option>
	      <option>3</option>
	      <option>4</option>
	      <option>5</option>
	    </select>
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
<div>